<template>
    <div class="category-list">

        <!--Parent category-->
        <ul class="category-list__parent">
            <li v-for="category in categories" :key="category.id">
                <span class="category-list__title">
                    {{category.title}}
                    <span class="category-list__edit" @click="setEditableCategory(category)"><i class="far fa-edit"></i></span>
                    <span class="category-list__delete" @click="openModal(category)"><i class="far fa-trash-alt"></i></span>
                </span>

                <!--Child categories-->
                <ul v-if="category.children.length" class="category-list__children">
                    <li v-for="childCategory in category.children" :key="childCategory.id">
                        <span class="category-list__title">
                            {{childCategory.title}}
                            <span class="category-list__edit" @click="setEditableCategory(childCategory)"><i class="far fa-edit"></i></span>
                            <span class="category-list__delete" @click="openModal(childCategory)"><i class="far fa-trash-alt"></i></span>
                        </span>
                    </li>
                </ul><!--Child categories-->

            </li>
        </ul><!--Parent category-->

        <!-- Modal confirmation deleted-->
        <category-modal-remove
            v-if="visibleModal"
            :category="deletedCategory"
            @close-modal="closeModal()"
        ></category-modal-remove><!-- Modal confirmation deleted-->

    </div>
</template>

<script>
    export default {
        beforeMount() {
            this.$store.dispatch('getCategories');
        },
        data() {
            return {
                visibleModal: false,
                deletedCategory: null,
            }
        },
        computed : {
            categories() {
                return this.$store.getters.categories;
            }
        },
        methods : {
            setEditableCategory(category) {
                this.$store.commit('changeEditableCategory', category);
            },
            openModal(category) {
                this.deletedCategory = category;
                this.visibleModal = true;
            },
            closeModal() {
                this.deletedCategory = null;
                this.visibleModal = false;
            }
        },
    }
</script>

<style scoped>
    .category-list__parent,
    .category-list__children {
        list-style: none;
    }
    .category-list__delete,
    .category-list__edit {
        visibility: hidden;
        cursor: pointer;
    }
    .category-list__title:hover .category-list__delete,
    .category-list__title:hover .category-list__edit {
        visibility: visible;
    }
</style>
