<template>
    <div class="category-list">

        <!--Parent category-->
        <ul class="category-list__parent">
            <li v-for="category in parentsCategories" :key="category.id">
                <span class="category-list__title">
                    {{category.title}}
                    <span
                        class="category-list__edit"
                        @click="setEditableCategory(category)"
                    >
                        <i class="far fa-edit"></i>
                    </span>
                    <span
                        class="category-list__delete"
                        v-if="!hasChildrenById(category.id)"
                        @click="deleteCategory(category)"
                    >
                        <i class="far fa-trash-alt"></i>
                    </span>
                </span>
                <category-child-items :parentCategory="category"></category-child-items>
            </li>
        </ul><!--Parent category-->

        <!-- Modal confirmation deleted-->
        <category-modal-remove
            v-if="visibleModal"
            :category="deletedCategory"
            @close-modal="closeModal()"
        ></category-modal-remove><!-- Modal confirmation deleted-->

    </div>
</template>

<script>
    import {eventEmiter} from "../../../app";

    export default {
        beforeMount() {
            this.$store.dispatch('getCategories');
        },
        created() {
            eventEmiter.$on('deleteCategory', payload => this.deleteCategory(payload));
        },
        data() {
            return {
                visibleModal: false,
                deletedCategory: null,
            }
        },
        computed : {
            categories() {
                // console.log(this.$store.getters.categories);
                return this.$store.getters.categories;
            },
            parentsCategories() {
                return this.categories.filter( item => item.parent_id === null );
            },
        },
        methods : {
            setEditableCategory(category) {
                this.$store.commit('changeEditableCategory', category);
            },
            openModal(category) {
                this.deletedCategory = category;
                this.visibleModal = true;
            },
            closeModal() {
                this.deletedCategory = null;
                this.visibleModal = false;
            },
            deleteCategory(category) {
                this.openModal(category);
            },
            hasChildrenById(id) {
                return this.categories.filter( item => item.parent_id === id ).length;
            },
        },
    }
</script>

<style scoped>
    .category-list__parent,
    .category-list__children {
        list-style: none;
    }
    .category-list__delete,
    .category-list__edit {
        visibility: hidden;
        cursor: pointer;
    }
    .category-list__title:hover .category-list__delete,
    .category-list__title:hover .category-list__edit {
        visibility: visible;
    }
</style>
