<template>
    <form class="create-category__form" @submit.prevent="saveCategory">
        <div class="create-category__field" :class="{ 'create-category_field_error' : $v.title.$error}">
            <input type="text" placeholder="Название" @input="setTitle($event.target.value)" :value="title">
            <div v-if="$v.title.$error" class="create-category__errors">
                 <span v-if="!$v.title.required" class="create-category__error">Это поля обязательно для заполнения</span>
                 <span v-else-if="!$v.title.minLength" class="create-category__error">Имя категории должно быть не менее чем 3 символа</span>
                <span v-else-if="!$v.title.isUnique" class="create-category__error">Категория <b>{{title}}</b> уже сущесвует.</span>
            </div>
        </div>
        <div class="create-category__field">
            <select class="create-category__field" @input="setParentId($event.target.value)" :value="parent_id">
                <option value="0">Категории</option>
                <option
                    v-for="category in categories"
                    v-if="category.id != id && category.parent_id != id"
                    :value="category.id"
                    :key="category.id"
                >{{category.title}}</option>
            </select>
        </div>
        <div class="create-category__buttons">
            <button class="create-category__button" :disabled="$v.title.$invalid">Сохранить</button>
            <button class="create-category__button" @click="resetForm()">Сбросить</button>
        </div>
    </form>
</template>

<script>
    import { required, minLength } from 'vuelidate/lib/validators';

    export default {
        data() {
            return {}
        },
        props: [],
        computed : {
            category() {
                return this.$store.getters.editableCategory;
            },
            id() {
                return this.category.id;
            },
            parent_id() {
                return this.category.parent_id;
            },
            title() {
                return this.category.title;
            },
            categories() {
                return this.$store.getters.categories;
            },
        },
        methods : {
            saveCategory() {
                if( !this.$v.title.$invalid ) {
                    let payload = {id: this.id, title: this.title, parent_id: this.parent_id};
                    this.$store.dispatch('changeEditableCategory', payload);
                    this.resetForm();
                }
            },
            setTitle(value) {
                let payload = {id: this.id, title: value, parent_id: this.parent_id};
                this.$store.commit('changeEditableCategory', payload);
                this.$v.title.$touch();
            },
            setParentId(value) {
                let payload = {id: this.id, title: this.title, parent_id: value};
                this.$store.commit('changeEditableCategory', payload);
                // this.$v.title.$touch();
            },
            resetForm() {
                this.$v.title.$reset();
                this.$store.commit('resetEditableCategory');
            }
        },
        validations: {
            title: {
                required,
                minLength: minLength(3),
                isUnique(value) {
                    if( !this.$v.title.minLength || !this.$v.title.required) return false;

                    return new Promise((resolve, reject) => {
                        let payload = {
                            id: this.id,
                            parent_id: this.parent_id,
                            title: this.title,
                        };
                        this.$store.commit('changeEditableCategory', payload);

                        this.$store.dispatch('validateUniqueCategoryByTitle')
                            .then(result=>resolve(result));
                    });

                }
            },
        },
    }
</script>

<style scoped>
    .create-category__form {

    }
    .create-category_field_error > input {
        border: 1px solid red;
    }
    .create-category__error {
        display: block;
    }
</style>
