<template>
    <div class="category-list">
        <!--Parent category-->
        <ul class="category-list__parent">
            <li v-for="category in children" :key="category.id">
                <span class="category-list__title">
                    {{category.title}}
                    <span
                        class="category-list__edit"
                        @click="setEditableCategory(category)"
                    >
                        <i class="far fa-edit"></i>
                    </span>
                    <span
                        v-if="!hasChildrenById(category.id)"
                        class="category-list__delete"
                        @click="removeCategory(category)"
                    >
                        <i class="far fa-trash-alt"></i>
                    </span>
                </span>
                <category-child-items :parentCategory="category"></category-child-items>
            </li>
        </ul><!--Parent category-->
    </div>
</template>

<script>
    import {eventEmiter} from "../../../app";

    export default {
        data() {
            return {
                // visibleModal: false,
                // deletedCategory: null,
            }
        },
        props: ['parentCategory'],
        computed : {
            categories() {
                return this.$store.getters.categories;
            },
            children() {
                return this.categories.filter( item => item.parent_id == this.parentCategory.id )
            },
        },
        methods : {
            setEditableCategory(category) {
                this.$store.commit('changeEditableCategory', category);
            },
            removeCategory(category) {
                eventEmiter.$emit('deleteCategory', category);
            },
            hasChildrenById(id) {
                return this.categories.filter( item => item.parent_id === id ).length;
            },
        },
    }
</script>

<style scoped>
    .category-list__parent,
    .category-list__children {
        list-style: none;
    }
    .category-list__delete,
    .category-list__edit {
        visibility: hidden;
        cursor: pointer;
    }
    .category-list__title:hover .category-list__delete,
    .category-list__title:hover .category-list__edit {
        visibility: visible;
    }
</style>
