<template>
    <div class="remove-modal">
        <div class="remove-modal__overlay"></div>
        <div class="remove-modal__window">

            <div class="remove-modal__content">
                <p class="remove-modal__text">Категория <b>{{category.title}}</b> будет удалена, уверен?</p>
            </div>

            <div class="remove-modal-modal__buttons">
                <button class="remove-modal__button" @click="deleteCategory()">Удалить</button>
                <button class="remove-modal__button" @click="closeModal()">Отмена</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['category'],
        methods : {
            deleteCategory() {
                this.$store.dispatch('removeCategory', this.category);
                this.closeModal();
            },
            closeModal() {
                this.$emit('close-modal');
            },

        },
    }
</script>

<style scoped>
    .remove-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .remove-modal__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.4);
    }
    .remove-modal__window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 450px;
        min-height: 100px;
        background-color: #fff;
        border-radius: 4px;
    }
    .remove-modal__text {

    }
    .remove-modal__form {

    }
    .remove-modal-modal__buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .remove-modal__button {

    }
</style>
