/* Buttons */
.button {
    width: 100%;
    max-width: 150px;
    text-align: center;
    cursor: pointer;
    color: #212529;
    &:hover {
        text-decoration: none;
    }
    &__gray {
        border: 1px solid #8a8a8a;
        transition: background-color, color .2s;
        &:hover {
            background-color: #8a8a8a;
            color: #fff;
        }
    }
}
