.checkout-cart {
    &-item {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px;
        box-shadow: 0 0 3px $light-gray;
        border-radius: 2px;
        &_image {
            width: 100px;
            min-width: 100px;
            height: 100px;
            overflow: hidden;
            & > img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        &_content {

        }
        &_title {
            width: 100%;
            font-size: 20px;
            text-align: center;
            color: $gray;
        }
        &_prices {
            position: absolute;
            left: 100px;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $light-gray;
            font-size: 25px;
        }
        &_price {
            margin-right: 10px;
        }
        &_count {
            margin: 0 10px;
            padding: 0 5px;
            border: 1px solid $light-gray;
            border-radius: 15px;
            line-height: 1.1;
            &-control {
                font-size: 20px;
                cursor: pointer;
                &:hover {
                    color: $gray;
                }
            }
        }
        &_total {
            margin: 0 10px;
            font-weight: 900;
            color: $gray;
        }
    }
    .form-group.is-invalid > input {
        border: 1px solid $red;
    }
}
