.header_user {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_user-role {
    font-size: 12px;
}
.products-list {
    margin-bottom: 25px;
    &-item {
        position: relative;
        min-height: 255px;
        margin: 10px 0;

        &_image {
            display: flex;
            max-height: 255px;
            min-height: 100%;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            transition: .2s;
            &:hover {
                box-shadow: 0 0 10px rgba(0,0,0,.4);
            }
            & > img {
                width: 100%;
                margin: auto;
            }
        }
        &_title {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            margin: 0 15px;
            text-align: center;
        }
        &_price {
            position: absolute;
            top: 10px;
            left: 25px;
        }

    }
}
.product-detail {
    position: relative;
    &_actions {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: 16px;
        line-height: 1;
    }
    &_action {
        &-edit,
        &-save {
            padding: 10px;
            cursor: pointer;
        }
        &-edit {

        }
        &-save {

        }
        &__hidden {
            display: none;
        }
    }
    &_content {
        &-title {

        }
        &-description {
            position: relative;
            min-height: 200px;
        }
        &-price {

        }
    }
    &_buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;
    }
    &_button-buy {

    }
    &_button-remove {
        margin-left: 15px;
    }
}
.global-currency-price {
    &:after {
        content: attr(data-currency);
        display: inline-block;
        margin-left: 5px;
    }
}
.product-detail_content__edit .global-currency-price:after {
    display: none;
}

.product-gallery_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: 3px solid #c8c8c8;
    border-radius: 2px;
    & > img.product-gallery_item-image {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 135px;
        color: #545454;
        font-weight: 600;
        transition: text-shadow .2s;
        cursor: pointer;
        &:hover {
            text-shadow: 0 0 10px #545454;
        }
    }
    &-actions {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &:hover .product-gallery_item-actions {
        opacity: 1;
    }
}
.product-add-image-form {
    display: none !important;
}
.product-gallery_item-actions {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255,255,255,1);
    opacity: 0;
    transition: .3s;
}
.product-gallery_item-action {
    font-size: 20px;
    cursor: pointer;
}

.label {
    &__error {
        color: #ff4400;
    }
}
.input {
    &__error {
        border-color: #ff4400;
    }
}
.pagination {
    justify-content: center;
}
