/* Modals */
.error-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    &_substrate {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.4);
    }
    &_window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 500px;
        min-width: 320px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    &_close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 16px;
        line-height: 1;
        cursor: pointer;
    }
    &_content {
        margin-bottom: 15px;
    }
    &_list {
        list-style: none;
        text-align: left;
        &-item {

        }
    }
    &_buttons {

    }
    &_button {
        margin: 0 auto;
    }
}
.shopping-cart[data-cart-items-count] {
    position: relative;
    &::after {
        content: attr(data-cart-items-count);
        position: absolute;
        right: -7px;
        bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 13px;
        border: 1px solid rgba(0, 0, 0, 0.7);
        background-color: #fff;
        border-radius: 50%;
        line-height: 1;
        font-size: 10px;
    }
}
.cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    transition: opcaity .3s;
    &.show {
        display: block;
        opacity: 1;
    }
    &-substrate {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.5);
    }
    &-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        min-width: 320px;
        max-width: 800px;
        height: 80%;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        &_header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            background-color: #fff;
            &-title {
                margin-bottom: 0;
            }
            &-close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                font-size: 16px;
                line-height: 1;
                cursor: pointer;
            }
        }
        &_content {
            padding: 50px 20px;
            height: 100%;
            max-height: 100%;
            overflow-y: scroll;
        }
        &_footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 20px;
            background-color: #fff;
            &-checkout {
                //margin: auto 0 auto auto;
            }
        }
    }
    &-product {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100px;
        margin-bottom: 15px;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        &_delete {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            line-height: 1;
            cursor: pointer;
            font-size: 14px;
            color: #7d7d7d;
        }
        &_image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100%;
            & > img {
                max-height: 98px;
            }
        }
        &_content {
            flex-grow: 1;
            height: 100%;
            margin-left: 15px;
            &-title {
                margin-bottom: 5px;
            }
            &-price {
                display: inline-block;
                margin-bottom: 5px;
                padding: 0 5px;
                background-color: #e6e6e6;
                border-radius: 3px;
            }
            &-amount-price {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 5px 10px;
                font-size: 18px;
                color: #7d7d7d;
            }
            &-count {
                display: flex;
                align-items: center;
                justify-content: space-around;
                max-width: 100px;
                border: 1px solid #e6e6e6;
                border-radius: 3px;
                color: #7d7d7d;
                &-button {
                    cursor: pointer;
                }
                &-value {
                    font-size: 18px;
                }
                &-input {
                    display: none;
                }
            }
        }
    }
}
.modal-product-remove {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    &_substrate {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.4);
    }
    &_window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 500px;
        min-width: 320px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    &_close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 16px;
        line-height: 1;
        cursor: pointer;
    }
    &_content {
        margin-bottom: 15px;
        text-align: center;
    }
    &_buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &_button {
        margin: 0 auto;
    }
}
