// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gray: rgba(0, 0, 0, 0.7);
$light-gray: rgba(0, 0, 0, 0.5);

$red: red;
