<template>
    <div class="cart" id="cart" :class="{show: visibilityCart}">
        <div class="cart-substrate" @click="closeModal"></div>
        <div class="cart-window">
            <div class="cart-window_header">
                <h2 class="cart-window_header-title">Ваши заказы:</h2>
                <div @click="closeModal" class="cart-window_header-close"><i class="far fa-times-circle"></i></div>
            </div>
            <div class="cart-window_content">
                <order-items></order-items>
            </div>
            <div class="cart-window_footer">
                <a href="/checkout/create" id="cartCheckout" class="button button__gray cart-window_footer-checkout">Оформить заказ</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() { return {} },
        props: [],
        computed : {
            cart(){
                return this.$store.getters.getCartItems;
            },
            visibilityCart() {
                return this.$store.getters.visibilityCart;
            }
        },
        methods : {
            closeModal() {
                this.$store.commit('toggleVisibilityCart')
            }
        }
    }
</script>
