<template>
    <a class="nav-link shopping-cart"
       href="#"
       :data-cart-items-count="amountItems"
        @click="openCartModal"
    >
        <i class="fas fa-shopping-cart"></i>
    </a>
</template>

<script>
    export default {
        async mounted() {
            // await this.$store.dispatch('getCartItems');
        },
        data() {
            return {
                isVisibleCart: false,
            }
        },
        props: {},
        computed : {
            amountItems(){
                return this.$store.getters.getAmountCartItems;
            }
        },
        methods : {
            openCartModal() {
                this.$store.commit('toggleVisibilityCart');
            }
        }
    }
</script>
