<template>
    <form class="customer-details" @submit.prevent="submitOrderDetails()" novalidate>

        <div class="form-group" :class="{ 'error' : $v.name.$error }">
            <label for="customerName">Имя</label>
            <input type="text" class="form-control" id="customerName" v-model.trim="name" @change="$v.name.$touch">
            <div v-if="$v.name.$error" class="form-group_errors">
                <p v-if="!$v.name.required" class="form-group_error-msg">Имя не заполнено</p>
                <p v-else-if="!$v.name.minLength" class="form-group_error-msg">Должно быть минимум 3 символа</p>
            </div>
        </div>

        <div class="form-group" :class="{ 'error' : $v.phone.$error }">
            <label for="customerPhone">Телефон</label>
            <input type="tel" class="form-control" id="customerPhone" v-model.trim.number="phone" @change="$v.phone.$touch()">
            <div v-if="$v.phone.$error" class="form-group_errors">
                <p v-if="!$v.phone.required" class="form-group_error-msg">Телефон не заполнен</p>
                <p v-else-if="!$v.phone.numeric" class="form-group_error-msg">Телефон модет содержать только числа</p>
                <p v-else-if="!$v.phone.minLength || !$v.phone.maxLength" class="form-group_error-msg">Телефон должен быть от 10 до 13 символов</p>
            </div>
        </div>

        <div class="form-group" :class="{ 'error' : $v.email.$error }">
            <label for="customerEmail">E-mail</label>
            <input type="email" class="form-control" id="customerEmail" v-model.trim="email" @change="$v.email.$touch()">
            <div v-if="$v.email.$error" class="form-group_errors">
                <p v-if="!$v.email.required" class="form-group_error-msg">E-mail не заполнен</p>
                <p v-else-if="!$v.email.email" class="form-group_error-msg">E-mail адрес не валидный</p>
            </div>
        </div>

        <div class="form-group" :class="{ 'error' : $v.city.$error }">
            <label for="customerCity">Город</label>
            <input type="text" class="form-control" id="customerCity" v-model.trim="city">
            <div v-if="$v.city.$error" class="form-group_errors">
                <p v-if="!$v.city.required" class="form-group_error-msg">E-mail не заполнен</p>
            </div>
        </div>

        <div class="form-group" :class="{ 'error' : $v.address.$error }">
            <label for="customerAddress">Адрес</label>
            <input type="text" class="form-control" id="customerAddress" v-model.trim="address">
            <div v-if="$v.address.$error" class="form-group_errors">
                <p v-if="!$v.address.required" class="form-group_error-msg">E-mail не заполнен</p>
            </div>
        </div>

        <input type="submit" value="Оформить" class="button button__gray">

    </form>
</template>

<script>
    import { required, email, numeric, minLength, maxLength } from 'vuelidate/lib/validators';
    export default {
        data() {
            return {
                name: '',
                phone: '',
                email: '',
                city: '',
                address: '',
                errors: [],
            }
        },
        validations: {
            name: {
                required: required,
                minLength: minLength(3),
            },
            phone: {
                required,
                numeric,
                minLength: minLength(10),
                maxLength: maxLength(13)
            },
            email: {
                required,
                email,
            },
            city: {
                required,
            },
            address: {
                required,
            }
        },
        methods : {
            submitOrderDetails() {

                if( !this.$v.$invalid ) {
                    let data = {
                        name: this.name,
                        phone: this.phone,
                        email: this.email,
                        city: this.city,
                        address: this.address,
                    };
                    axios.post('/checkout', data)
                        .then(res=>console.log(res));
                }
            },
        },
    }
</script>
<style scoped>
    .mypre {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 350px;
        height: 100%;
        background-color: #fff;
    }
    .form-group.error > input.form-control {
        border-color: red;
    }
</style>
