<template>
<!--   <ul>-->
<!--       <li v-for="(user, index) in users"><a href="#"><i class="fas fa-user-edit"></i></a>{{user.name}}({{user.email}}) - {{user.role}}</li>-->
<!--   </ul>-->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" @click="sortById">ID</th>
                <th scope="col" @click="sortByName">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(user, index) in getUsers">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        mounted() {
            console.log(this.users);
        },
        props: {
            users : {
                type: Array
            }
        },
        // watch : {
        //     users(users){
        //         return this.users
        //     }
        // },
        computed : {
            getUsers(){
                console.log(this.users);
                return this.users;
            }
        },
        methods : {
            sortById(){
                this.users.sort(function(a, b){
                    // console.log(a, b);
                    return a.id - b.id;
                });
                // console.log(this.users);
            },
            sortByName(){
                this.users.sort(function(a, b){
                    // console.log(a, b);
                    var nameA = a.name.toUpperCase(); // ignore upper and lowercase
                    var nameB = b.name.toUpperCase(); // ignore upper and lowercase
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }

                    // names must be equal
                    return 0;
                });
                // console.log(this.users);
            }
        }
    }
</script>
