<template>
    <div class="checkout-cart-item">
        <div class="checkout-cart-item_image">
            <img :src="item.product.thumbnail.path" :alt="item.product.title" :title="item.product.title">
        </div>
        <div class="checkout-cart-item_content">
            <h3 class="checkout-cart-item_title">{{item.product.title}}</h3>
            <div class="checkout-cart-item_prices">
                <div class="global-currency-price checkout-cart-item_price" data-currency="$">{{item.product.price}}</div>
                ×
                <div class="checkout-cart-item_count">
                    <input type="hidden" class="checkout-cart-item_count-input" :value="item.count">
                    <span @click="minusCount()" class="checkout-cart-item_count-control checkout-cart-item_count-control__minus">
                        <i class="fas fa-minus-circle"></i>
                    </span>
                    {{item.count}}
                    <span @click="plusCount()" class="checkout-cart-item_count-control checkout-cart-item_count-control__plus">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                </div>
                =
                <div class="global-currency-price checkout-cart-item_total" data-currency="$">{{(this.item.count * this.item.product.price).toFixed(2)}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // this.orders = ;
            // console.log(this.item);
        },
        data() {
            return {
                url : {
                    changeCountItems: `/cart/${this.item.product.id}/changeCartItemCount`
                },
            }
        },
        props: ['item', 'itemId', 'cartUrls'],
        computed : {

        },
        methods : {
            plusCount() {
                let count = this.item.count + 1;
                this.sendChanged(count);
            },
            minusCount() {
                let count = this.item.count - 1;
                this.sendChanged(count);
            },
            sendChanged(count) {
                let data = {
                    type: 'changeCountItems',
                    count: count,
                    item: this.item,
                };
                this.$store.dispatch(data);
            },
        }
    }
</script>
