<template>
    <div class="checkout-cart-order-items">
        <order-item
            v-if="hasOrders"
            v-for="(item) in orders"
            :key="item.id"
            :item="item"
            :itemId="item.id"
            :cartUrls="cartUrls">
        </order-item>
        <h2
            v-if="totalPrice"
            class="global-currency-price checkout-cart-item_total"
            data-currency="$">
            {{totalPrice}}
        </h2>
    </div>
</template>

<script>
    export default {
        mounted() {
            // this.getCheckoutUrls();
        },
        data() {
            return {
                cartUrls: null,
                hasOrders: false,
            }
        },
        props: [],
        computed : {
            totalPrice() {
                let totalPrice = 0;
                if( this.orders && this.orders.length ) {
                    for(let item of this.orders) {
                        totalPrice += ( item.count * item.product.price );
                    }
                }
                return totalPrice.toFixed(2);
            },
            orders() {
                if( this.$store.getters.getCartItems.length ) {
                    this.hasOrders = true;
                    return this.$store.getters.getCartItems;
                }
            }
        },
        methods : {},
    }
</script>
