<template>
    <div class="row justify-content-center">
        <div class="orders-paginations">
            <a
                class="orders-pagination orders-pagination_first"
                v-if="pagination.prev_page_url"
                @click.prevent="goToPage(1)"
            >
                <i class="fas fa-angle-double-left"></i>
            </a>

            <a
                class="orders-pagination orders-pagination_prev"
                v-if="pagination.prev_page_url"
                @click.prevent="goToPage(currentPage - 1)"
            >
                <i class="fas fa-angle-left"></i>
            </a>

            <a
                class="orders-pagination"
                :class="{'orders-pagination__active' : ( page.page == currentPage )}"
                v-for="page of siblingsPages"
                :key="page.page"
                @click.prevent="goToPage(page.page)"
            >
                {{page.page}}
            </a>

            <a
                class="orders-pagination orders-pagination_next"
                v-if="pagination.next_page_url"
                @click.prevent="goToPage(currentPage + 1)"
            >
                <i class="fas fa-angle-right"></i>
            </a>
            <a
                class="orders-pagination orders-pagination_last"
                v-if="pagination.next_page_url"
                @click.prevent="goToPage(pagination.last_page)"
            >
                <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>
</template>
<script>
    export default {
        computed: {
            pagination() {
                return this.$store.getters.getPagination;
            },
            siblingsPages() {
                let pages = [],
                    currentPage = this.currentPage,
                    firstPage = 1,
                    lastPage = this.$store.getters.getPagination.last_page;

                for( let i = 1; i < 3; i++ ) {
                    if( (currentPage - i) >= firstPage ) {
                        let page = currentPage - i,
                            url = this.$store.getters.getPagination.path + '?page=' + (currentPage - i);
                        pages.push( { page, url } );
                    } else {
                        break;
                    }
                }

                pages.push({
                    page: currentPage,
                    url: this.$store.getters.getPagination.path + '?page=' + currentPage
                });

                for( let i = 1; i < 3; i++ ) {
                    if( (currentPage + i) <= lastPage ) {
                        let page = currentPage + i,
                            url = this.$store.getters.getPagination.path + '?page=' + (currentPage + i);
                        pages.push( { page, url } );
                    } else {
                        break;
                    }
                }

                pages.sort((a, b) => a.page - b.page);
                if( pages.length > 1 ) {
                    return pages
                } else {
                    return [];
                }

            },
            currentPage() {
                return 1*this.pagination.current_page;
            }
        },
        methods: {
            goToPage(page) {
                this.$store.commit('changeSelectedPage', page);
                this.$store.dispatch('setOrders');
                this.scrollToHeader();

            },
            scrollToHeader() {
                let headerHeight = document.querySelector('#siteHeader').offsetHeight;
                window.scrollTo(0, headerHeight);
            }
        }
    }
</script>
<style scoped>
    .orders-paginations {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .orders-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 5px;
        border: 1px solid #c3c3c3;
        border-radius: 3px;
        color: #565656;
        transition: .2s;
        cursor: pointer;
    }
    .orders-pagination:hover {
        background-color: #c3c3c3;
        text-decoration: none;
    }
    .orders-pagination__active {
        border: 0;
        font-size: 18px;
        pointer-events: none;
    }
</style>

