<template>
    <div class="order-list-item"
         @mouseout="startTimerCloseStatusList"
         @mouseover="deleteTimerCloseStatusList"
    >
        <div class="row">
            <div class="col-md-4">
                <div class="order-list-item_details">
                    <order-list-item-status
                        :currentStatus="order.status"
                        :visibilityStatusList="visibilityStatusList"
                        @change-visibility-list="changeVisibilityList"
                        @change-status="changeOrderStatus"
                    ></order-list-item-status>
                    <div class="order-list-item_details-row">Создан: {{order.created_at}}</div>
                    <div class="order-list-item_details-row">Обновлен: {{order.updated_at}}</div>
                    <div class="order-list-item_details-row">Имя: {{order.customer.name}}</div>
                    <div class="order-list-item_details-row">Телефоно: {{order.customer.phone}}</div>
                    <div class="order-list-item_details-row">Email: {{order.customer.email}}</div>
                    <div class="order-list-item_details-row">Город: {{order.customer.city}}</div>
                    <div class="order-list-item_details-row">Адрес: {{order.customer.address}}</div>
                </div>
            </div>
            <div class="col-md-8">

                <div v-if="order.order_items.length" class="order-list-item_items">
                    <div v-for="item in order.order_items" class="order-list-item_item">
                        <h4 class="order-list-item_title">{{item.product.title}}</h4>
                        <div data-currency="$" class="global-currency-price order-list-item_price">
                            {{item.product.price}} x {{item.quanity}}
                            = {{(item.product.price * item.quanity).toFixed(2)}}
                        </div>
                    </div>
                    <div class="global-currency-price order-list-item_amount-price" data-currency="$">{{amountPrice}}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                visibilityStatusList: false,
                timerCloseStatusList: null,
            }
        },
        props: ['order'],
        computed: {
            amountPrice() {
                let amountPrice = 0;
                for( let orderItem of this.order.order_items ) {
                    amountPrice += (orderItem.product.price * orderItem.quanity);
                }
                return amountPrice.toFixed(2);
            }
        },
        methods: {
            changeVisibilityList(visibility){
                this.visibilityStatusList = visibility;
            },
            startTimerCloseStatusList() {
                this.timerCloseStatusList = setTimeout(() => {
                    this.changeVisibilityList(false);
                }, 1500);
            },
            deleteTimerCloseStatusList() {
                clearTimeout(this.timerCloseStatusList);
            },
            changeOrderStatus(status) {
                let data = {
                    id: this.order.id,
                    status
                };
                this.$store.commit('changeOrderStatus', data);
            },
            // closeStatusList(event) {
            //     // if( event.target.classList )
            //     // console.log(event.target.classList);
            //     // console.log(event.target.className);
            //     // console.log(event.target.classList.contains('order-status'));
            //     console.log(event);
            // }
        },
        watch: {
            // visibilityStatusList(value) {
            //     console.log('visibilityStatusList');
            //     if(value) {
            //         document.addEventListener('click.visibilityStatusList', ()=>this.visibilityStatusList = false);
            //     } else {
            //         document.removeEventListener('click');
            //     }
            // }
        }
    }
</script>
<style scoped>
    .order-list-item {
        padding: 10px 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
    .order-list-item_title {
        margin-bottom: 0;
    }
    .order-list-item_item {
        margin-bottom: 15px;
    }
    .global-currency-price:after {
        margin-left: 0;
    }
    .order-list-item_amount-price {
        position: absolute;
        right: 30px;
        bottom: 0;
        font-size: 26px;
    }
</style>
