<template>
    <div class="orders-item">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><orders-status-filter></orders-status-filter></div>
                <div class="col-md-10"><orders-pagination></orders-pagination></div>
            </div>
            <order-list-item v-for="order in orders" :key="order.id" :order="order"></order-list-item>
            <orders-pagination></orders-pagination>
        </div>
    </div>
</template>

<script>
    import OrdersStore from '../../store/modules/orders';

    export default {
        async beforeMount() {
            this.$store.registerModule('OrdersStore', OrdersStore);
            await this.$store.dispatch('setOrders');
        },
        computed : {
            orders() {
                return this.$store.getters.getOrders;
            }
        },
        methods : {

        }
    }
</script>
