<template>
    <div class="status-filter">
        <select @change="changeStatus($event.target.value)">
            <option
                v-for="(status, index) in statusNames"
                :selected="(index == selectedStatus)"
                :value="index"
                :key="index"
            >
                {{status}}
            </option>
        </select>
    </div>
</template>
<script>
    export default {
        computed: {
            statusNames() {
                return this.$store.getters.statusNames;
            },
            selectedStatus(){
                return this.$store.getters.selectedStatus;
            }
        },
        methods: {
            changeStatus(status) {
                this.$store.commit('changeStatus', status);
                this.$store.dispatch('setOrders');
            }
        },
    }
</script>
<style scoped>

</style>
