<template>
    <div class="order-status">
        <div
            class="order-status_current"
            @click="openList"
        >
            Статус: {{ statusNames[currentStatus] }}
        </div>
        <ul v-if="visibilityStatusList && statuses.length" class="order-status_list">
            <li v-for="status in statuses"
                class="order-status_list-item"
                :key="status"
                @click="changeStatus(status)"
            >
                {{ statusNames[status] }}
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['currentStatus', 'visibilityStatusList'],
        computed: {
            statusNames() {
                return this.$store.getters.statusNames;
            },
            statuses() {
                let statuses = [];
                switch (this.currentStatus) {
                    case (1):
                        statuses = [2, 3, 4];
                        break;
                    case (2):
                        statuses = [1, 3, 4];
                        break;
                    case (3):
                        statuses = [2, 4];
                        break;
                    case (4):
                        statuses = [2, 3, 5];
                        break;
                    case (5):
                        statuses = [6, 7, 8];
                        break;
                    case (6):
                        statuses = [7, 8];
                        break;
                    case (7):
                        statuses = [6, 8];
                        break;
                    default:
                        statuses = [1, 2, 3, 4, 5, 6, 7, 8];
                }
                return statuses;
            }
        },
        methods: {
            closeList: function() {
                this.$emit('change-visibility-list', false);
            },
            openList: function() {
                this.$emit('change-visibility-list', true);
            },
            changeStatus(status) {
                this.$emit('change-status', status);
                this.closeList();
            }
        },
    }
</script>
<style scoped>
    .order-status {
        position: relative;
    }
    .order-status_current {
        cursor: pointer;
    }
    .order-status_list {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 200px;
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 5px;
        background: rgb(255,255,255);
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        overflow: hidden;
    }
    .order-status_list li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(226,226,226,.5) 45%, rgba(226,226,226,.5) 55%, rgba(255,255,255,1) 80%);
        cursor: pointer;
        transition: box-shadow .2s;
    }
    .order-status_list li:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        position: relative;
    }
</style>
