.admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 250px;
    padding-top: 55px;
    background-color: #fff;
    box-shadow: -5px 10px 8px rgba(0, 0, 0, 0.4);
}
