<template>
    <div class="message">
        <div class="message-owerlay">
            <div class="message-header">
                <span class="message_header-user">{{message.user.name}}</span>
                <span class="message_header-date">({{message.created_at}})</span>

                <div class="message_actions">
                    <span
                        class="message_button"
                        v-if="message.allow_edit !== null"
                        @click="reply"
                    >
                        <i class="fas fa-reply"></i>
                    </span>
                    <span
                        class="message_button"
                        v-if="message.allow_edit"
                        @click="editMessage"
                    >
                        <i class="far fa-edit"></i>
                    </span>
                </div>
            </div>

            <div class="message-content">
                <div class="message-content_text">
                    {{message.text}}
                </div>
            </div>
        </div>

        <div v-if="childrenMessages.length" class="message-responses">
            <tim-message
                v-for="message in childrenMessages"
                :message="message"
                :key="message.id"
                :userid="userid"
            ></tim-message>
            <div
                class="message-content_more"
                v-if="currentPage !== lastPage"
                @click="getParentMessages"
            >Загрузить еще</div>
        </div>

    </div>
</template>

<script>
    import {eventEmiter} from "../../app";

    export default {
        created() {

            this.getParentMessages();

            eventEmiter.$on('messageUpdated', (payload) => {
                if(payload.id == this.message.id) {
                    this.message.text = payload.text;
                    this.scrollToCurrentComponent();
                }
            });

            eventEmiter.$on('addedNewMessage', (payload) => {
                if( 'parent_id' in payload && payload.parent_id == this.message.id ) {
                    this.childrenMessages.push(payload);
                    this.scrollToCurrentComponent();
                }
            });
        },
        data() {
            return {
                childrenMessages: [],
                currentPage: 0,
                lastPage: null,
            }
        },
        props: ['message', 'userid'],
        computed : {
            allowEdit() {
                return this.hasAuth && this.userid == this.message.user_id;
            },
            hasAuth() {
                return this.userid ? true : false;
            }
        },
        methods : {
            editMessage(){
                eventEmiter.$emit('editMessage', this.message);
            },
            reply() {
                eventEmiter.$emit('replyOnMessage', this.message);
            },
            scrollToCurrentComponent() {
                timScroll(this.$el.offsetTop);
            },
            getParentMessages() {
                if( this.currentPage == this.lastPage ) return;

                this.currentPage++;

                axios.get( '/messages/childrens', { params: { id: this.message.id, page: this.currentPage } } )
                    .then( response => {
                        let messages = response.data.data;
                        this.currentPage = response.data.current_page;
                        this.lastPage = response.data.last_page;
                        if( messages.length && Array.isArray(messages) ) {
                            this.childrenMessages.push(...messages);
                        }
                    });
            }
        }
    }
</script>
<style>
    .message {
        padding: 10px 0 10px 10px;
    }
    .message-owerlay {
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        border: 1px solid #dedede;
        border-radius: 3px;
    }
    .message-header {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid #dedede;
    }
    .message_header-user {
        margin-right: 5px;
        font-weight: 600;
    }
    .message_header-date {
        font-weight: 400;
    }
    .message-content {
        position: relative;
        display: block;
        padding: 10px;
    }
    .message-content_text {

    }
    .message-responses {
        position: relative;
        padding-left: 35px;
    }
    /*.message-responses:after {*/
    /*    content: '';*/
    /*    display: flex;*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 10px;*/
    /*    bottom: 125px;*/
    /*    width: 1px;*/
    /*    background-color: #dedede;*/
    /*}*/
    .message_actions {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin: auto 0 auto auto;
    }
    .message_button {
        margin-left: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: .2s;
    }
    .message_button:hover {
        opacity: 1;
    }
    .message-content_more {
        text-align: center;
        cursor: pointer;
    }
</style>
