<template>
    <div class="write-message">
        <div class="write-message_title"><h3>{{title}}</h3></div>

        <div class="write-message_editor">
            <textarea v-model="text"></textarea>
        </div>
        <div class="write-message_buttons">
            <div class="write-message_button" @click="sendMessage()">
                <i class="far fa-save"></i>
            </div>
            <div v-if="closeBtnVisibility" class="clear-message_button" @click="setDefaultValues">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</template>

<script>

    import {eventEmiter} from "../../app";

    export default {
        created() {
            eventEmiter.$on('editMessage', message => {
                this.setDefaultValues();
                this.text = message.text;
                this.id = message.id;
                this.action = 'edit';
                this.title = 'Редактирование сообщения от ' + message.created_at;
                this.closeBtnVisibility = true;
                this.scrollToCurrentComponent();
            });
            eventEmiter.$on('replyOnMessage', message => {
                this.setDefaultValues();
                this.parent_id = message.id;
                this.title = 'Ответ на сообщение от ' + message.created_at;
                this.closeBtnVisibility = true;
                this.scrollToCurrentComponent();
            });
        },
        data() {
            return {
                text: '',
                id: null,
                parent_id: null,
                action: 'create', //create,  edit
                title: 'Новое Сообщение',
                closeBtnVisibility: false,
            }
        },
        props: ['product'],
        computed : {

        },
        methods : {
            // СОЗДАНИЕ / РЕДАКТИРОВАНИЕ СООБЩЕНИЯ
            sendMessage() {
                if( !this.text.length ) return;

                if( this.action == 'create' ) {

                    // СОЗДАНИЕ СООБЩЕНИЯ
                    axios.post( '/messages', { text: this.text, parent_id: this.parent_id, product_id: this.product } )
                        .then(response => {
                            eventEmiter.$emit('addedNewMessage', response.data);
                            this.setDefaultValues();
                        });

                } else if( this.action == 'edit' ) {

                    // РЕДАКТИРОВАНИЕ СООБЩЕНИЯ
                    axios.put( `/messages/${this.id}`, { text: this.text } )
                        .then(response => {
                            eventEmiter.$emit('messageUpdated', response.data);
                            this.setDefaultValues();
                        });

                }
            },
            // УСТАНАВЛИВАЕТ ЗНАЧЕНИЯ ПО УМОЛЧАНИЮ
            setDefaultValues() {
                this.text = '';
                this.id = null;
                this.parent_id = null;
                this.action = 'create';
                this.title = 'Новое Сообщение';
                this.closeBtnVisibility = false;
            },
            scrollToCurrentComponent() {
                timScroll(this.$el.offsetTop);
            }
        }
    }
</script>
<style>
    .write-message {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .write-message_title {
        width: 100%;
        text-align: center;
    }
    .write-message_editor {
        flex-grow: 1;
        max-width: 500px;
    }
    .write-message_editor > textarea {
        display: block;
        width: 100%;
        height: 100px;
        border: 1px solid #767676;
        border-radius: 3px;
        resize: none;
    }
    .write-message_buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 250px;
        height: 100%;
        font-size: 25px;
    }
    .clear-message_button,
    .write-message_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-left: 25px;
        border: 1px solid #525252;
        border-radius: 50%;
        color: #525252;
        cursor: pointer;
        transition: .2s;
    }
    .clear-message_button:hover,
    .write-message_button:hover {
        background-color: #525252;
        color: #f8fafc;
    }
</style>
