<template>
    <div class="admin-edit-product">
        <h1>Редактирование {{product.title}}</h1>
        <div class="row">

            <div class="col-md-10">
                <div class="admin-edit-product__edit">

                    <div class="admin-edit-product__field">
                        <input type="text" v-model="product.title">
                    </div>

                    <div class="admin-edit-product__field">
                        <input type="number" step="0.01" v-model="product.price">
                    </div>

                    <div class="admin-edit-product__field">
                        <wysiwyg v-model="product.description" />
                    </div>

                </div>
            </div>

            <div class="col-md-2">
                <div class="admin-edit-product__categories">
                    <admin-product-categories
                        v-if="product"
                        :product="product"
                        @change-selected-categories="setSelectedCategories"
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="admin-edit-product__buttons">
                    <button
                        type="button"
                        class="btn btn-primary admin-edit-product__button"
                        @click.prevent="saveProduct"
                    >
                        Сохранить
                    </button>
                </div>
            </div>
        </div>

        <admin-product-gallery v-if="images" :product="product" @change-thumbnail="setThumbnail"/>

    </div>
</template>

<script>

    import wysiwyg from "vue-wysiwyg";
    Vue.use(wysiwyg, {
        hideModules: { "image": true },
        maxHeight: "400px"
    });

    export default {
        beforeMount() {
            axios({
                method: 'POST',
                url: '/admin/products/getProduct',
                data: {
                    id: this.id,
                }
            })
            .then(response => {
                this.product = response.data;
            });
        },
        data() {
            return {
                product: {},
                productCategories: []
            }
        },
        props: ['id'],
        computed : {
            images() {
                return this.product.images;
            }
        },
        methods : {
            setSelectedCategories(selectedCategories) {
                this.product.categories = selectedCategories;
            },
            saveProduct() {
                this.$store.dispatch('saveProduct', this.product);
            },
            setThumbnail(thumbnail) {
                this.product.thumbnail = thumbnail;
            }
        },
    }
</script>

<style scoped>
    .admin-edit-product {}
    .admin-edit-product__categories {}
    .admin-edit-product__edit {}
    .admin-edit-product__field {}
    .admin-edit-product__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
</style>
