<template>
    <a :href="url" class="admin-product">
        <div class="admin-product__image">
            <img :src="product.thumbnail.path" :alt="product.title">
        </div>
        <h2 class="admin-product__title">{{product.title}}</h2>
    </a>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: ['product'],
        computed : {
            url() {
                return '/admin/products/' + this.product.id + '/edit';
            }
        },
        methods : {},
    }
</script>

<style scoped>
    .admin-product {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .admin-product__image {
        max-width: 100px;
        max-height: 100px;
    }
    .admin-product__image > img {
        width: 100%;
        max-width: 100px;
        height: auto;
        max-height: 100px;
        object-fit: cover;
    }
    .admin-product__title {
        font-size: 16px;
    }
</style>
