<template>
    <div class="admin-products">
        <admin-product
            v-for="product in products"
            :product="product"
            :key="product.id"
        >{{product.title}}</admin-product>
    </div>
</template>

<script>
    export default {
        beforeMount() {
            this.$store.dispatch('getProducts');
        },
        data() {
            return {}
        },
        props: [],
        computed : {
            products() {
                return this.$store.getters.products;
            }
        },
        methods : {
        },
    }
</script>

<style scoped>

</style>
