<template>
    <div class="admin-edit-product-gallery">
        <div class="row">
            <div class="col-md-4">
                <div class="admin-edit-product-gallery__thumbnail">
                    <img :src="thumbnail.path" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-8">
                <div v-if="images" class="admin-edit-product-gallery__items">
                    <div v-for="image in images" class="admin-edit-product-gallery__item">
                        <img :src="image.path" class="img-fluid" />
                        <div class="admin-edit-product-gallery__overlay">
                            <div class="admin-edit-product-gallery__action">
                                <span class="admin-edit-product-gallery__action-icon admin-edit-product-gallery__delete">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                                <span class="admin-edit-product-gallery__action-icon admin-edit-product-gallery__set-thumbnail" @click="setAsThumbnail(image)">
                                    <i class="far fa-image"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: ['product'],
        computed : {
            images() {
                return this.product.images
            },
            thumbnail() {
                return this.product.thumbnail
            },
        },
        methods : {
            setAsThumbnail(thumbnail){
                this.product.thumbnail = thumbnail;
                this.$emit('change-thumbnail', thumbnail)
            }
        },
    }
</script>

<style scoped>
    .admin-edit-product-gallery {
        margin-top: 25px;
    }
    .admin-edit-product-gallery__thumbnail {

    }
    .admin-edit-product-gallery__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .admin-edit-product-gallery__item {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 10px 10px 0;
    }
    .admin-edit-product-gallery__item:hover .admin-edit-product-gallery__overlay {
        opacity: 1;
    }
    .admin-edit-product-gallery__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: .2s;
        background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.4) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.4) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    }
    .admin-edit-product-gallery__action {
        width: 100%;
        height: 100%;
    }
    .admin-edit-product-gallery__action-icon {
        position: absolute;
        font-size: 40px;
        color: #252525;
        transition: .3s;
        cursor: pointer;
    }
    .admin-edit-product-gallery__set-thumbnail {
        top: 5%;
        left: 15%;
    }
    .admin-edit-product-gallery__set-thumbnail:hover {
        filter: drop-shadow(10px 10px 10px rgba(255,255,255,1));
    }
    .admin-edit-product-gallery__delete {
        right: 15%;
        bottom: 5%;
    }
    .admin-edit-product-gallery__delete:hover {
        filter: drop-shadow(-10px -10px 10px rgba(255,255,255,1));
    }
</style>
