<template>
    <div class="admin-edit-product-categories">
        <ul v-if="categories.length" class="admin-edit-product-categories__list">
            <li v-for="parentCategory in parentCategories" class="admin-edit-product-categories__item">
                <label>
                    <input type="checkbox" :value="parentCategory.id" v-model="selectedCategories">
                    {{parentCategory.title}}
                </label>
                <ul v-if="children(parentCategory.id).length" class="admin-edit-product-categories__list">
                    <li v-for="childCategory in children(parentCategory.id)" class="admin-edit-product-categories__item">
                        <label>
                            <input type="checkbox" :value="childCategory.id" v-model="selectedCategories">
                            {{childCategory.title}}
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        beforeMount() {
            axios({
                method: 'POST',
                url: '/admin/categories/getCategories',
            })
            .then(response => {
                console.info('Categories: ', response);
                this.categories = response.data;
            });
        },
        data() {
            return {
                categories: [],
                selectedCategories: [],
            }
        },
        props: ['product'],
        computed : {
            parentCategories() {
                return this.categories.filter( item => item.parent_id == null );
            },
        },
        watch: {
            product(val) {
                if( 'categories' in val ) {
                    this.selectedCategories = val.categories.map(item => item.id);
                }
            },
            selectedCategories(val){
                this.$emit('change-selected-categories', this.selectedCategories);
            }
        },
        methods : {
            children(id) {
                return this.categories.filter( item => item.parent_id == id );
            },
        },
    }
</script>

<style scoped>
    .admin-edit-product-categories {
        overflow-y: scroll;
        max-height: 400px;
        height: 100%;
    }
    .admin-edit-product-categories__list {
        list-style: none;
        padding-left: 15px;
    }
    .admin-edit-product-categories__item > label,
    .admin-edit-product-categories__item {
        cursor: pointer;
    }
</style>
